
#flyoutMenu {
    width: 100vw;
    height: 100vh;
    background-color: #FFE600;
    position: fixed;
    top: 0;
    left: 0;
    transition: transform .3s
                cubic-bezier(0, .52, 0, 1);
    overflow: scroll;
    z-index: 1000;
  }
   
  #flyoutMenu.hide {
    transform: translate3d(-200vw, 0, 0);
  }
   
  #flyoutMenu.show {
    transform: translate3d(10vw, 0, 0);
    overflow: hidden;
  }
   
  #flyoutMenu h2 a {
    color: #333;
    margin-left: 15px;
    text-decoration: none;
  }
   
  #flyoutMenu h2 a:hover {
    text-decoration: underline;
  }

  #inventory {
    height: 50vh;
    width:  100vw;
    max-height: 50vh;
    overflow: auto;
  }

  #RequestForm{
    height: 50vh;
    width:  50vh;
    max-height: 50vh;
    overflow: auto;
  }

  #Receipt{
    height: 50vh;
    width:  50vh;
    max-height: 50vh;
    overflow: auto;
    text-align: center;
    background-color: rgb(241, 241, 241)
  }

  #ShoppingCart{
    height: 50vh;
    width:  50vh;
    max-height: 50vh;
    overflow: auto;
  }